<!DOCTYPE html>
<html>
    <head>
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>YelpCamp App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body >

    <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top " >
        <a class="navbar-brand" href="/">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ">
                <li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a class="nav-link" href="/campgrounds">Home</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <!-- if no user show login/sign up links-->
                <% if(!currentUser) { %>
                    <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
                        <a class="nav-link" href="/register">Sign Up</a>
                    </li>
                <% }else { %>
                    <li class="nav-item dropdown pb-0 my-0">
                        <a class="nav-link" href="/campgrounds" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Notifications <span class="badge"><%= notifications.length %></span>
                        </a>
                        <div class="dropdown-menu mt-2 bg-info" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item text-dark" href="/notifications">View past notifications</a>
                          <% notifications.forEach(function(notification) { %>                          
                            <li>
                                <a href="/notifications/<%= notification.id %>">
                                    <%= notification.username %> created a new campground
                                </a>
                            </li>
                          <% }); %>
                          
                        </div>
                      </li>
                    <!-- else show current user logged in and logout link-->
                    <li class="nav-item text-white ">
                        <span class="nav-link" >Signed In As <span class="btn btn-sm btn-info text-capitalize"><%= currentUser.username %></span></span>
                    </li> 
                    <li class="nav-item ">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>   
               <% } %>
            </ul>    
        </div>
    </nav>

    <div class="container">
        <% if(error && error.length > 0) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= error %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% } %>
        
        <% if(success && success.length > 0) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= success %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% } %>
    </div>
    <div class="container">
    