<% include ../partials/header %>

<div class="container show1">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-8">
                    <div class="card my-4 ">
                        <div class="card-body">
                            <h1 class="card-title text-center py-2 text-dark">Edit <%= campground.name %></h1>
                            <form action="/campgrounds/<%= campground._id %>/?_method=PUT" method="POST">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="campground[name]" value="<%= campground.name %>">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="number" name="campground[price]" value="<%= campground.price %>" min="0.01" step="0.01">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="campground[image]" value="<%= campground.image %>">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="campground[description]" value="<%= campground.description %>">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="location" id="location" value="<%= campground.location %>">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-info btn-block">Submit</button>
                                </div>
                            </form> 
                        </div>
                        <div class="card-footer">
                                <a class="btn btn-primary btn-sm" href="/campgrounds">Go Back</a> 
                        </div>
                        
                         
                    </div>    
            </div>    
        </div>
        
    </div>

    <% include ../partials/footer %>