<% include ../partials/header %>
    
    

    <div class="container pb-4">
        <div class="row mt-4">
            <div class="col-12">
                    <% if(currentUser && currentUser.isAdmin) { %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                You're an admin!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                    <% } %>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 ">
                <header class="jumbotron">
                    <div class="container">
                        <h1>Our Most Popular Campgrounds</h1>
                        <hr class="my-4">
                        <!-- <p>View our hand-picked campgrounds from all over the world</p> -->
                        <div class="row my-4" >
                                <div class="col-12 col-md-6 ml-0 mb-3">
                                        <a class="btn btn-primary " href="/campgrounds/new">Add New Campground</a>
                                </div>
                                <div class="col-12 col-md-6">
                                        
                                    <form action="/campgrounds" method="GET" class="form-inline" id="campground-search">
                                        <div class="form-row ">
                                            <div class="form-group ">
                                                <input type="text" name="search" placeholder="Campground search..." class="form-control mb-2 mb-md-0">
                                                <input type="submit" value="Search" class="btn btn-info ml-md-2">
                                            </div>
                                        </div>
                                    </form>
                                       
                                </div>
                                
                        </div>
                    </div>
                </header>
            </div>
        </div>
        <!-- <div class="row px-3">
            <div class="col-12 bg-light mb-2">
                <h3>Our Most Popular Campgrounds!</h3>
            </div>
        </div> -->

        <div class="row text-center mb-4" style="display: flex; flex-wrap: wrap;">
            <% campgroundsData.forEach(function(campground){ %>
                <div class="col-12 col-lg-4 mt-4">
                    <div class="img-thumbnail m-0 p-0 border-0">
                       <img src="<%= campground.image %>"  class="img-fluid" >
                       <div class="caption">
                            <h6><%= campground.name %></h6>
                       </div>
                       <div>
                            <span class="badge label-primary"><i class="fas fa-thumbs-up"></i> <%= campground.likes.length %></span>
                       </div>
                       <p>
                          <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary my-2">More Info</a>
                       </p>
                    </div>
                </div>
            <% }); %>
        </div>
        <nav aria-label="Page navigation">
                <% if (pages && pages > 0) { %>
                <ul class="pagination justify-content-center">
                    <% if (current == 1) { %>
                    <li class="page-item disabled"><a class="page-link">First</a></li>
                    <% } else { %>
                    <li><a class="page-link" href="/campgrounds<%if(search){%>?search=<%=search%><%}%>">First</a></li>
                    <% } %>
             
                    <% if (current == 1) { %>
                    <li class="page-item disabled"><a class="page-link">«</a></li>
                    <% } else { %>
                    <li><a class="page-link" href="/campgrounds?page=<%= Number(current) - 1 %><%if(search){%>&search=<%=search%><%}%>">«</a></li>
                    <% } %>
             
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                    <li class="active"><a class="page-link"><%= i %></a></li>
                    <% } else { %>
                    <li><a class="page-link" href="/campgrounds?page=<%= i %><%if(search){%>&search=<%=search%><%}%>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                    <% } %>
                    <% } %>
             
                    <% if (current == pages) { %>
                    <li class="page-item disabled"><a class="page-link">»</a></li>
                    <% } else { %>
                    <li><a class="page-link" href="/campgrounds?page=<%= Number(current) + 1 %><%if(search){%>&search=<%=search%><%}%>">»</a></li>
                    <% } %>
             
                    <% if (current == pages) { %>
                    <li class="page-item disabled"><a class="page-link">Last</a></li>
                    <% } else { %>
                    <li><a class="page-link" href="/campgrounds?page=<%= pages %><%if(search){%>&search=<%=search%><%}%>">Last</a></li>
                    <% } %>
                </ul>
                <% } %>
            </nav>

    </div>
<% include ../partials/footer %>