<% include ../partials/header %>

<div class="container show mb-4">
    <div class="row justify-content-center ">
        <div class="col-12 col-lg-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
            <div class="my-2" id="map"></div>
        </div>
        <div class="col-12 col-lg-9 mt-4">
            <div class="card my-4 border-0">
                <div class="card-body p-0">
                        <img src="<%= campground.image %>" class="img-fluid">
                </div>
                <div class="caption px-3 pt-3 mb-1">
                    <h4 class="float-right">$<%= campground.price %>/night</h4>
                    <h4 class="float-left"><a href=""><%= campground.name %></a>
                        <button type="button" class="btn btn-xs btn-primary " data-toggle="modal" data-target="#campgroundLikes">
                            <span><i class="fas fa-thumbs-up"></i> <%= campground.likes.length %></span>
                        </button>
                    </h4>
                </div>
                
                <h6 class="text-muted px-3 mb-2"><%= campground.location %></h6>
                
                <div class="px-3 py-2">
                    <form action="/campgrounds/<%= campground._id %>/like" method="POST">
                        <div class="btn-group">
                            <% if (currentUser && campground.likes.some(function (like) {
                                return like.equals(currentUser._id)
                            })) { %>
                            <button class="btn btn-sm btn-primary">
                                <i class="fas fa-thumbs-up"></i> Liked (<%= campground.likes.length %>)
                            </button>
                            <% } else { %>
                            <button class="btn btn-sm btn-secondary">
                                <i class="fas fa-thumbs-up"></i> Like (<%= campground.likes.length %>)
                            </button>
                            <% } %>
                            <button type="button" class="btn btn-sm btn-default" data-toggle="modal"
                                    data-target="#campgroundLikes">See more details
                            </button>
                        </div>
                    </form>
                </div>    
                
                
                <div class="card-text px-3 mb-1">
                        <p><%= campground.description %></p>
                </div>
                <div class="card-text px-3 mb-1">
                        <p><em>Submitted By <a href="/users/<%=campground.author.id%>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %></em></p>
                </div>
                
                <div class="p-3 ">
                    <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-sm btn-warning"> Edit </a>
                
                        <form class="d-inline px-2" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-sm btn-danger" >Delete</button>
                        </form>
                    <% } %>
                    
                </div>
                              
            </div>

            <div class="card p-3 mb-4 border-0" style="background-color: gainsboro;">
                <div class="text-right"><a class="btn btn-success ml-4 my-2" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a></div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
                            <p><%= comment.text %></p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                                <a class="btn btn-sm btn-warning" 
                                    href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                                    Edit
                                </a>
                                <form class="d-inline px-2" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-sm btn-danger" >Delete</button>
                                </form>
                                
                            <% } %>
                        </div>
                       
                    </div>
                    <hr>  
                <% }) %> 
            </div>
            
            
        </div>
    </div>
    
</div>

<!-- Campground Likes Modal -->
<div id="campgroundLikes" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Campground likes: <%= campground.likes.length %></h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Liked by:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% campground.likes.forEach(function(like) { %>
                        <tr>
                            <td><span class="badge"><i class="fas fa-user"></i></span> <%= like %></td>
                        </tr>
                    <% }); %>
                    <% if (campground.likes.length === 0) { %>
                        <tr>
                            <td><em>No likes yet.</em></td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
        
        function initMap() {
            var lat = <%= campground.lat %>; 
            var lng = <%= campground.lng %>;
            var center = {lat: lat, lng: lng};
            var map = new google.maps.Map(document.getElementById("map"), {
                center: center,
                zoom: 8,
                scrollwheel: false
            });
            var contentString = `<strong><%= campground.name %><br/>
                                    <%= campground.location %>
                                    </strong>
                                    <p><%= campground.description %></p>`

            var infoWindow = new google.maps.InfoWindow({
                content: contentString
            });

            var marker = new google.maps.Marker({
                position: center,
                map: map
               
            });

            marker.addListener('click', function(){
                infoWindow.open(map,marker);
            });
        }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_API_KEY %>&callback=initMap" ></script>



<% include ../partials/footer %>